<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G A M E S</title>
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
  <h1>
    BEM - VINDO A LOJA DE GAMES!!!!!!
  </h1>

 <div class="box">
   <form action="">
     <fieldset>

      <label>Preencha os dados abaixo:</label>

      <br> <br> 

      <input type="text" name="nome" id="nome" class="imoutUser" required>
      <label for="Nome">Nome Completo</label>
      <br>
      <input type="email" name="email" id="email" class="imoutUser" required>
      <label for="Nome">E-mail</label>
      <br>
      <input type="telefone" name="telefone" id="telefone" class="imoutUser" required>
      <label for="Nome">Telefone</label>
      

     </fieldset>

   </form>
 </div>
   
</body>

</html>